body {
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 250px;
    height: 100vh;
}
.submenu {
    display: none;
    list-style: none;
    padding-left: 10px;
}

.nav-link.active {
    background: #F31C1CE0 !important;
    color: white !important;
    border-radius: 5px;
}

.nav-link.active img {
    filter: brightness(0) invert(1);
}

.loading-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}